header{
  margin-bottom: 30px;
}
header .logo{
  font-weight: 600;
  font-size: 20px;
}
header div.headerInfo{
    display: flex;
    flex-direction:row-reverse;
    
  }
  header div.headerInfoBtn{
    display: flex;
    flex-direction: column;
  }

header ul.nav{
  margin-top: 20px;
  float:inline-start;
  list-style: none;
  font-size: 20px;
}
header ul.nav a{
  display: inline;
  color: #fff;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}
header ul.nav a:hover{
   opacity: 0.5;
}
header ul.nav a.online{
  color: rgb(113, 211, 15);
}
header ul.nav a.steamBtn{
    
  }
