@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #111;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.wrapper{
  width: 1280px;
  margin: 50px auto;
}



